.main {
  display: flex;
  height: 300px;

  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.first {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.names {
  text-align: left;
}

.in1 {
  height: 120px;
  background-image: linear-gradient(rgb(196, 14, 135), orange);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  color: white;
}
.in2 {
  height: 120px;
  background-image: linear-gradient(rgb(68, 163, 187), rgb(120, 157, 228));
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  color: white;
}
.in3 {
  height: 120px;
  background-image: linear-gradient(orange, lightgreen);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  color: white;
}
.in4 {
  height: 120px;
  background-image: linear-gradient(rgb(139, 12, 139), pink);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  color: white;
}

.ribbon {
  position: relative;
  top: -10px;
  right: 10px;
}
p {
  font-size: larger;
}
.review {
  font-size: small;
  font-style: italic;
  position: relative;
  top: 40px;
  left: -105px;
}
.review1 {
  font-size: small;
  font-style: italic;
  position: relative;
  top: 60px;
  left: -105px;
}

.stars {
  color: gold;
}
.both {
  position: relative;
  top: -30px;
  left: -30px;
}
.both1 {
  position: relative;
  top: -10px;
  left: -30px;
}

.name {
  text-align: left;
  position: relative;
  top: 20px;
  left: 25px;
}
.names1 {
  width: 250px;
  text-align: left;
}
